.header-image{
    margin-bottom:2rem;
    img{
        max-width: 100%;
        @include double_border_radius;
    }
}

.cms-content{
    padding-bottom:1rem;
    min-height: 100vh;

    h1{
        margin-bottom:1rem;
    }

    p{
        font-size:16px;
        line-height:1.7rem;
        margin-bottom: 2rem;
    }

    a{
        color:$color_outline;
        font-weight:bold; 
    }

    ul{
        margin: 1rem 0;

        li{
            margin-bottom:1rem;
        }
    }
}

