body{
    padding-bottom: 148px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 148px;

    text-align: center;
    font-size: 13px;
    color: $white;
    
/*    &:after{
	background-size: contain;
	background-image: url(../images/bg_last_section_bottom.svg);
	background-repeat: no-repeat;
	background-position: 0px -400px;
	content: '';
	width: 100%;
	height: 400px;
	display: block;
	position: absolute;
	z-index: 5;
    }    */

    a{
        font-size: $font_size_default * 0.8;
        display: inline-block;
        margin: 0 10px;

        &:hover{
            text-decoration: underline;
        }

        @media (max-width: $break_m){
            display:block;
        }
    }

    .footer--top{
        padding:30px 0;
        background: $color_grey1;
        color:$white;

        a{
            color:$white;
        }
    }

    .footer--bottom{
        padding:20px 0;
        background:$color_grey2;
        color: rgba(255, 255, 255, 0.53);
    }
}
