/**
 * header section
 */
header{
    position: fixed;
    z-index: 100;
    display: block;
    width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: $color_grey2;
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: $color_outline;
}

.menu-top{
    background: rgba(255, 255, 255, 0.99);
    font-style: normal;
    font-weight: normal;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    a{
        @extend %font-primary-light;
        /*font-size: 16px;*/
        font-size: 1rem;
        line-height: 1.5;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: $break_l){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.menu-top h5 a{
    @extend %font-primary;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    color: #091527;

    &:hover{
        text-decoration: none;
    }
}

/**
 * navbar
 */

.navbar-light .navbar-toggler{
    outline: none;
}

.navbar-nav{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width: $break_l){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end;
    }
}

.navbar-light .navbar-toggler{
    border:0;
}

@media (max-width: $break_l){
    a.nav-link{
        text-align: center;
    }

    .navbar-nav{
        padding-top: 20px;
    }
}

/**
 * navbar - Hamburger Menu Animation
 */
.icon-bar {
    width: 22px; 
    height: 2px;
    background-color: $color_grey1;
    display: block;
    transition: all 0.2s;
    margin-top: 4px
}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

/**
 * tooltip
 */
.bs-tooltip-bottom .arrow::before{
    border-bottom-color: $color_outline;
}
.bs-tooltip-top .arrow::before{
    border-top-color: $color_outline;
}
.tooltip-inner{
    background: $color_outline;
    box-shadow: 0px 4px 30px rgba(129, 108, 188, 0.44);
}


.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover{
    color: $color_outline;
}

/**
 * infobar:
 */
.infobar{
    background: #F3F3F3;
    text-align: center;
    padding: .5rem;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 1rem;
}