.container{
    position: relative;
    @media (max-width: $break_l){
        text-align: center;
    }    
}

section{
    position: relative;
    
    &:last-of-type{
        padding-top: 3rem;
        padding-bottom: 3rem;
        
        &.game-container{
            background-image: none;
            background: transparent;
            z-index: 3;
            padding-top: 6rem;
            
            @media (max-width: $break_l){
                padding-top: 5rem;
            }
            
        }
        
        .container{
            
            i.icon.i001{ /* ajándék */
                top: -12rem;
                left: 8rem;
                width: 6rem;
                z-index: 1;
                @include rotate(-22deg);
            }
            i.icon.i002{ /* */
                top: 55%;
                left: 50%;
                width: 8rem;
                z-index: 1;
                @include rotate(8deg);
            }

            i.icon.i003{ /* ajándék */
                top: -5%;
                right: 10%;
                width: 5rem;
                z-index: 1;
                @include rotate(3deg);
            }
        }
    }
    
    &:first-of-type{
        padding-top: 8rem;
        
        @media (max-width: $break_l){
            padding-top: 4rem;
        }        
        
        &.cms-content{
            padding-top: 8rem;
        }
        
        &.calendar-modal-content-section{
            padding-top: 0rem;
        }
    }
    
    &.featured--with-image{
        padding-top: 1rem;
        padding-bottom: 3rem; 
    }
    
    &.calendar-modal-content-section{
        padding: 1rem 0rem 3rem 0rem;
        background-image: none;
        
        @media (max-width: $break_m){
            padding: 0;
        }        
    }
    
    &.game-display{
        background-color: #553cd8;
    }
}

/* #regisztracio */
.reg-form-cont{
    z-index: 2;
    min-height: 400px;
    
    .form-signin{
        min-height: 330px;
        position: relative;
        
        >i.icon.i001{ /*ajándék, legfelül */
            bottom: -78px;
            left: -15%;
            width: 30%;
            height: 30%;
            z-index: 1;

            @include rotate(-22deg);
        }
        
    }
}

.featured-full-width-bg{
    background:$default_yellow;
}

.featured-full-width-bgimg{
/*    background: url(../tmp/reg-bg.png) top center no-repeat;
    background-size: cover;*/
}

.featured{
        
    &.prizes-title{
        z-index: 3;
    }
    
    .container{
        background: transparent;
    }

    .jumbotron{
        background:transparent;
        
        padding: 2rem 0 0 0;
        
        p.lead{
            margin-top: 2rem;
            margin-bottom: 2rem;
            font-size: $font_size_lead;

            @media (max-width: $break_xl){
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
                font-size: $font_size_lead_small;
            }
        }

        @media (min-width: $break_xl){
            padding: 4rem;
        }
    }
    
    &.intro-block {
        .main_title{
            font-size: 56px;
            
            &.upper{
                text-transform: uppercase;
            }
        }
        
        .mainpage-intro-imgcont-outer{
            position: relative;
            
            i.icon.i001{ /* controller */
                top: -3%;
                left: 95%;
                width: 15%;
                z-index: 1;
            }

            i.icon.i002{ /* ajándék */
                bottom: -13%;
                left: 57%;
                width: 19%;
                z-index: 3;
                @include rotate(15deg);
            }
            
            i.icon{
                img{
                    box-shadow: none;
                    border-right: none;
                }
            }            
            
            .mainpage-intro-imgcont{
                padding: 1rem 0;
                width: 100%;
                text-align: center;
                position: relative;
                z-index: 2;

                img{
                    width: 100%;
                }
            }
        }
        
        img{
            box-shadow: 0px 20px 40px rgba(27, 59, 142, 0.3);
            border-radius: 16px;   
        }
    }
    
}

.how-to-play-block{ 
    background-color: $default_yellow;
    
    .container{
        position: relative;
        
        i.icon{
            position: absolute;
            display: block;

            img{
                display: block;
                box-shadow: none;
                max-width: 100%;
            }
            &.i001{ /* szív */
                top: 19%;
                left: 10%;
                width: 10%;
                z-index: 1;
                @include rotate(-15deg);
            }

            &.i002{ /* szív */
                bottom: -110%;
                left: 83%;
                width: 19%;
                z-index: 3;
                @include rotate(15deg);
            }
        }
    }
}

.featured--bg2{
    position: relative;
    
    &:after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-image: url("../images/bg_curve.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center bottom;
        height: 400px;
        z-index: 1;
    }
    
    .container{
        background: transparent;
        z-index: 2;
        position: relative;
    }

    .jumbotron{
        padding:2rem;
        margin-bottom:0;

        @media (max-width: $break_xl){
            padding:20px;
        }

        p.lead{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            font-size:$font_size_lead;

            @media (max-width: $break_xl){
                font-size: $font_size_lead_small;
            }
        }



    }
}

