a{
    outline: none;
}
body{
	font-family: $font_primary;
	font-style: normal;
	font-weight: normal;
	font-size: $font_size_default;
	line-height: $font_size_default * 1.5;
	color: $color_primary;
        position: relative;
        min-height: 100vh;
        height: 100%;
}

div.bottomcover{
    background-size: contain;
    background-image: url("../images/bg_last_section_bottom.svg");
    background-repeat: no-repeat;
    background-position: left 0px bottom 50px;    
    position: absolute;
    bottom: 0;
    width: 80%;
    min-height: 100vh;
    z-index: 1;
}

body > * {
    z-index: 2;
    position: relative;
}
body > .cpm_container{ /** cookie */
    z-index: 1000;
}


h1{
	font-family:$font_primary;
	font-size:$font_size_heading;
	line-height: $font_size_heading * 1.5;
	color:$black;
	
	@media (max-width: $break_l){
		font-size:$font_size_heading_small;
		line-height:1.4em;
	}
}

h2.main_title{
        font-family: $font_main_titles_grace;
	font-size: 48px;
	line-height: 60px;
	color:$black;
            
        &.upper{
            text-transform: uppercase;
        }
        
	
	@media (max-width: $break_l){
		font-size:$font_size_heading_small;
		line-height:1.4em;
	}
}

h2.cms_title{
        @extend %font-primary-semibold;
	font-size:$font_size_heading;
	line-height:58px;
	color:$black;
	
	@media (max-width: $break_l){
		font-size:$font_size_heading_small;
		line-height:1.4em;
	}
}

h2.with-icon{
	&:before{
		content: '';
	    display: inline-block;
	    vertical-align: text-top;
		
		@media (max-width: $break_xl){
			vertical-align: middle;
			margin-right: 14px;
		}

		@media (max-width: $break_s){
			display:none;
			margin-right: 0;
		}
	}
}


h3{
        @extend %font-primary-semibold;
        
	font-style: normal;
	font-size: $font_size_heading3;
	line-height: 52px;
	color: $black;

	@media (max-width: $break_l){
		font-size:$font_size_heading_small3;
		line-height:1.4em;
	}
}

h5{
        @extend %font-primary;
	font-style: normal;
	font-size: 23px;
	line-height: 36px;
}

.subtitle{
	@extend %font-primary;
	font-size: 18px;
	line-height: 26px;
	color:$color_outline;
}

.fixed-header{
	padding-top: 8rem;
        padding-bottom: 4rem;
}

.fixed-header--double{
	padding-top: 7rem;
}

    
i.icon{
    position: absolute;
    display: block;

    img{
        display: block;
        box-shadow: none;
        max-width: 100%;
    }
}
    
body > i.icon.i001{ /*ajándék, legfelül */
        top: 2rem;
        left: 31%;
        width: 4rem;
        max-width: 60px;
        max-height: 60px;
        z-index: 101;
        @include rotate(-22deg);
        
        @media (max-width: $break_xl){
            width: 4.5rem;
            left: 28%;
        }        
    }

    
