
/**
 * basic classes
 */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

.inl-blk{
    display:inline-block;
}

.img100{
    max-width: 100%;
}


.rotate{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@mixin rotate($degrees: 0deg) {
    @if $degrees != 0 {
        -webkit-transform: rotate($degrees);
        -o-transform: rotate($degrees);
        -ms-transform: rotate($degrees);
        transform: rotate($degrees);
    }
}

@mixin def_border_radius(){
    -webkit-border-radius: $def_border_radius;
    -moz-border-radius: $def_border_radius;
    border-radius: $def_border_radius;
}

@mixin double_border_radius(){
    -webkit-border-radius: $def_border_radius*2;
    -moz-border-radius: $def_border_radius*2;
    border-radius: $def_border_radius*2;
}

/**
 * cf
 */
@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.trans{
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.show-mobile{
    display: block;
}
.hide-desctop{
    display: none;
}

.opacity_02{
    opacity:.2!important;
}

.opacity_10{
    opacity:1!important;
}

.align-center{
    text-align:center;
}

@media (min-width: 992px){
    .show-mobile{
        display: none;
    }

    .hide-desctop{
        display: block;
    }
}

.rounded-image{
    border-radius:50%;
}

/**
 * Hide
 */
.hidden{
    display:none !important;
}

/**
 * Margins
 */
.mb-0{
    margin-bottom:0 !important;
}
.mb-min{
    margin-bottom: $space_min !important;
}
.mb-half{
    margin-bottom: $space_half !important;
}
.mb-default{
    margin-bottom: $space_default !important;
}
.mb-double{
    margin-bottom: $space_double !important;
}

/**
 * Paddings
 */

// padding top:
.pt-half{
    padding-top: $space_half;
}
.pt-default{
    padding-top: $space_default;
}
.pt-double{
    padding-top: $space_double;
}

// padding right:
.pr-half{
    padding-right: $space_half;
}
.pr-default{
    padding-right: $space_default;
}
.pr-double{
    padding-right: $space_double;
}

// padding bottom:
.pb-half{
    padding-bottom: $space_half;
}
.pb-default{
    padding-bottom: $space_default;
}
.pb-double{
    padding-bottom: $space_double;
}

// padding left:
.pl-half{
    padding-left: $space_half;
}
.pl-default{
    padding-left: $space_default;
}
.pl-double{
    padding-left: $space_double;
}

.p0{
    padding:0;
}