/**
 * Colors
 */
$color_primary: #000000;
$color_grey1: #3C3C3C;
$color_grey2: #252525;
$color_grey_content: #F3F3F3;
//$color_grey_content2:#F3F3F3;
//$color_grey_content3:#f7f7f7;
$color_grey_content4:#f6f6f6;
$color_grey_content5:#ebebeb;
$color_grey_content6:#9b9b9b;
$ccc: #cccccc;
$color_outline: #2F80ED; //
$white: #ffffff;
$black: #000000;

$color_alert_prim: #E05E5E;
$color_alert_sec:#FDF4F4;

$color_success_prim:#6CBC6F;
$color_success_sec: #F5FAF5;

$default_yellow: #FFFF00;

/**
 * Spacing values
 */
$space_min: 1rem;
$space_half: 1.5rem;
$space_default: 3rem;
$space_double: 6rem;



/**
 * Media query breakpoints
 */
$break_xs: 320px;
$break_s: 576px;
$break_m: 768px;
$break_l: 992px;
$break_xl: 1200px;
$break_xxl: 1800px;

/**
 * radius
 */

$def_border_radius: 5px;

