/*@font-face {
	font-family: 'NotoSans_ExtraBold';
	src: url('../fonts/NotoSans-ExtraBold.eot');
	src: local('☺'), url('../fonts/NotoSans-ExtraBold.woff') format('woff'), url('../fonts/NotoSans-ExtraBold.ttf') format('truetype'), url('../fonts/NotoSans-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

/**
 * Fonts basic
 */
$font_primary: 'Montserrat', sans-serif;
$font_main_titles_grace: 'Covered By Your Grace', cursive;

$font_secondary: 'Noto Sans', sans-serif; /* nincs használatban, nincs betöltve */
$font_alternate: 'Montserrat Alternates', sans-serif;  /* nincs használatban, nincs betöltve */
$font_notobold: 'NotoSans_ExtraBold', sans-serif;  /* nincs használatban, nincs betöltve */


$font_size_default: 16px;


$font_size_lead:1.25rem;
$font_size_lead_small:1rem;

$font_size_heading: 36px;
$font_size_heading_small:30px;

$font_size_heading3: 32px;
$font_size_heading_small3:26px;



/**
 * fonts extended
 */
%font-primary{
	font-family: $font_primary;
        font-weight: 400;
}
%font-primary-light{
	font-family: $font_primary;
        font-weight: 300;
}
%font-primary-semibold{
	font-family: $font_primary;
        font-weight: 600;
}

