.btn, 
.btn:focus,.btn:active, 
.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: none;
    outline:none;
    border:0;
}

.btn-def{
	color:$white;
	background: linear-gradient(0deg, $color_outline, $color_outline), #2F80ED;
	border-radius: 40px;
	border:0;
	font-size: 18px;
	line-height: 26px;
    padding: 7px 20px;
    margin: 0 10px;
	
    &:hover{
    	box-shadow: 0px 4px 15px rgba(47,128,237, 0.5);
    	color:$white;
    }
}

.btn-play--mobile{
	color: $black;
    padding: 0;
    background: transparent;
    box-shadow: none;
    font-size: large;

    &:hover,
    &:active{
    	background:transparent;
    	color: $black;
    	box-shadow: none;
	    outline:none;
	    border:0;
    }
}

.btn-play--mobile2{
	@media (max-width: $break_l){
		margin-top: 1rem;
	    width: 100%;
	    margin-bottom: 1rem;
		margin-left: 0;
    	margin-right: 0;
	}
}

.btn-lg{
	padding:12px 25px;
}

.btn--mob100{
	@media (max-width: $break_s){
		display:block;
	}
}

.btn--quiz{
	padding: 5px 20px;
    font-size: 14px;
}