/**
 * mainpage registration
 */

.reg-form-cont{
    .container{
        padding: 2rem 0;
    }

    .form-signin{
        max-width: 50%;
        display: block;
        margin: 0 auto;
        background: $white;
        text-align: center;
        padding: 20px 60px;
        
        box-shadow: 0px 20px 40px rgba(27, 59, 142, 0.07);
        border-radius: 24px;        

        @media (max-width: $break_xl){
            max-width: 80%;
        }

        @media (max-width: $break_l){
            max-width: 80%;
        }

        @media (max-width: $break_s){
            max-width: 90%;
            padding:20px;
        }

        h3{
            margin-bottom: 1rem;
        }

        .input-row{
            margin-bottom: 1rem;

            .form-control{
                background: $color_grey_content;
                border-radius: 44px;
                padding: 24px 10px;
                border: 0;
                text-align: center;

                &:focus{
                    box-shadow: 0px 2px 2px rgba(129, 108, 188, 0.44);
                }

                @media (max-width: $break_s){
                    padding:10px;
                    height: 42px;
                }
            }

            .input-col{
                @media (max-width: $break_l){
                    margin-bottom: 1rem;
                }
            }
        }

        .checkbox{
            margin-bottom: .5rem;
        }

        label{
            font-size:14px;
            line-height:1.4em;
            font-weight:bold;
            cursor: pointer;
        }

        .checkbox a{
            color:$black;
            text-decoration: underline;
        }

        button{
            @media (max-width: $break_s){
                margin: 0 auto;
                width: 100%;
            }
        }
    }

    &.reg-form-cont--in-calendar{
        .form-signin{

            max-width:100%;

            &:hover{
                box-shadow: 0px 4px 15px rgba(129, 108, 188, 0.44);
            }
        }
    }
}

/**
 * errors
 */
label.error{
    color: $color_alert_prim;
    display: inline-block;
    background: $color_alert_sec;
    padding: 2px 10px;
    font-weight: 400!important;
    font-size: 12px!important;
    @include def_border_radius;
    width:100%;
}

.form_error {
    color: $color_alert_prim;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}
.form_error p {margin: 0;}



/**
 * custom checkbox
 */
.checkbox label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $color_grey_content;
    border: 2px solid #cccccc; 
}

/* On mouse-over, add a grey background color */
.checkbox label:hover input ~ .checkmark {
    background-color: $color_grey_content;
}

/* When the checkbox is checked, add a blue background */
.checkbox label input:checked ~ .checkmark {
    background-color: $color_outline;
    border: 2px solid $color_outline; 
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox label .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}