.game-container{

    .row{
        position: relative;
    }

    .calendar-item{

        text-decoration: none;
        cursor: pointer;
        @include double_border_radius;
        padding: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        font-size: 14px;
        font-family: $font_primary;
        display:block;
        height:100%;
        opacity:0.4;

        .open{
            display:none;
        }

        &.opened{
            &::after{
                content: "";
                display: block;
                text-align: center;
                background: url(../images/item-opened.svg) center no-repeat;
                width: 100%;
                height: 13px;
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }

        .day-str{
            font-weight:bold;
        }

        &.calendar-item--past{
            background:$white;
            border: 3px solid $color_grey_content5;
            position: relative;
            min-height: 160px;

            .lock{
                position: absolute;
                width: 15px;
                height: 18px;
                bottom: 10px;
                right: 15px;
            }

            &.viewed{
                opacity:1;
                .lock{
                    background: url(../images/lock-opened-purple.svg) no-repeat;
                }

                &:hover{
                    box-shadow: 0px 4px 15px rgba(47,128,237, 0.5); // #2F80ED

                }
            }

            &.not-viewed{
                cursor:initial;
                background:$color_grey_content4;
                border:3px solid $color_grey_content4;
                .lock{
                    //background: url(../images/lock-closed-light-grey.svg) no-repeat;
                    background: url(../images/lock-closed-grey.svg) no-repeat;
                }
            }

            .day{
                position: absolute;
                font-weight: 600;
                font-size: 36px;
                line-height: 44px;
                color:$color_grey_content6;
                width: 100%;
                left: 0;
                text-align: center;
                top: 35%;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
            }

            .item-type{
                color: $white;
                background: $color_outline;
                border-radius: 33px;
                padding: 3px;
                font-size: 11px;
                display: block;
                width: 75%;
                float: none;
                font-weight: normal;
                margin: 0 auto;
                line-height: 1.4em;

            }
        }

        &.calendar-item--current{
            background: linear-gradient(0deg, $color_outline, $color_outline), $white;
            border: 3px solid $color_outline;
            color:$white;
            opacity:1;

            .day,.day-str,.open{
                display:block;
            }

            .day{
                font-size:36px;
                font-weight:bold;
                margin-bottom: 5px;
            }

            .day-str{
                margin-bottom: 2.3em;
            }

            .open{
                display:block;
                padding: 5px 10px;
                font-size: 14px;
                background: $white;
                color: $black;
                width: 100%;
                margin:0;
            }

            .countdown,.lock,.item-type{
                display: none;
            }

            &:hover{
                box-shadow: 0px 4px 15px rgba(47,128,237, 0.5); // #2F80ED
            }

        }

        &.calendar-item--next{
            cursor: initial;
            color:$black;
            background:$color_grey_content4;
            border:3px solid $color_grey_content4;

            .day,.day-str{
                display:block;
            }

            .lock{
                display:inline-block;
            }

            .item-type{
                display: none;
            }

            .day{
                font-size:36px;
                font-weight:bold;
                margin-bottom: 5px;
            }

            .day-str{
                margin-bottom: 2.3em;
            }

            .lock{
                background: url(../images/lock-closed-purple.svg) no-repeat;
                width: 15px;
                height: 15px;
                vertical-align: bottom;
            }

            .countdown{
                color: #ffffff;
                background: $color_outline; 
                border-radius: 33px;
                padding: 7px 10px;
                font-size: 14px;
                display: block;
                width: 80%;
                float: right;
                font-weight:bold;
                @include clearfix;
            }
        }

        &.calendar-item--future{
            cursor: initial;
            position: relative;
            background:$color_grey_content4;
            border:3px solid $color_grey_content4;
            min-height: 160px;

            .day,.lock{
                position: absolute;
            }

            .day{
                font-weight: 600;
                font-size: 36px;
                line-height: 44px;
                color:$ccc;
                width: 100%;
                left: 0;
                text-align: center;
                top: 35%;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
            }

            .lock{
                background: url(../images/lock-closed-grey.svg) no-repeat;
                width: 15px;
                height: 18px;
                bottom: 10px;
                right: 15px;
            }
        }
    }

    .calendar-modal{
        position:relative; 
        padding-right: 15px;
        padding-left: 15px;
        width:100%;
        display:none; 
        box-sizing: border-box;
        
        .calendar-modal-inner{
            width:100%;
            background:$white;
            padding:10px;
            border: 2px solid rgba(0, 0, 0, 0.05);
            @include double_border_radius;
            position:relative;
            min-height:100px;
            overflow: hidden;
            
            h2{
                @extend %font-primary-semibold;
            }
            
            p.lead{
                margin-top: 0;
            }
            
            *{
                z-index: 2;
            }

            .featured--bg2:after{
                background-image: none;
            }
            
            /* #regisztracio */
            .reg-form-cont{ 
                .form-signin{
                    >i.icon.i001{ /*ajándék, legfelül */
                        top: -70px;
                        left: -50px;
                        width: 30%;
                        height: 30%;
                        max-width: 100px;
                        max-height: 100px;
                        z-index: 1;

                        @include rotate(-22deg);
                    }

                }
            }            

            .calendar-modal-close{
                position:absolute;
                top:8px; 
                right:5px;
                display:inline-block;

                @media (max-width: $break_l){
                    display:none;
                }
            }

            .calendar-modal-close--mobile{
                position:absolute;
                top:8px; 
                right:5px;
                display:none;
                outline: none;

                @media (max-width: $break_l){
                    display:inline-block;
                    right:0px;
                }
            }

            .calendar-modal-close--in-text{
                font-weight: 400;
                font-size: 16px;
            }

            .calendar-modal-content{
                opacity:0;
                -webkit-transition: opacity 0.6s linear 0s;
                -o-transition: opacity 0.6s linear 0s;
                -moz-transition: opacity 0.6s linear 0s;
                transition: opacity 0.6s linear 0s;

                &.animate {
                    opacity: 1;
                }
            }

            .preloader{
                display: block;
                background: url(../images/Eclipse-1s-200px.svg) center no-repeat;
                width: 100%;
                height: 200px;
                margin: 0 auto;
                position: absolute;
                top: 35%;
                z-index: 0;
            }

            .calendar-modal-title{
                background:$default_yellow;
                @include def_border_radius;
                padding:5px 10px;
                width:95%;
                color:$black;
                position: relative;
                text-align: left;

                @media (max-width: $break_l){
                    width: auto; 
                    text-align: center;
                    margin: 0px 30px;
                    
                    .lock-open-svg{
                        position: absolute;
                        left: -25px;
                        top: 8px;
                    }
                }

                svg{
                    vertical-align: initial;
                }

                span{
                    display:inline-block;
                }

                .calendar-modal-title-day{
                    font-size: 24px;
                    font-weight: bold;
                    margin: 0 0 0 10px;

                    @media (max-width: $break_l){
                        text-align: center;
                        display: inline-block;
                        width: inherit;
                        
                        margin: 0;
                        left: 0;
                    }
                }

                .calendar-modal-title-text{
                    font-size: 12px;
                    font-weight:bold;
                }

                .calendar-modal-title-text--long{
                    margin-left: 30px;

                    @media (max-width: $break_l){
                        position: relative;
                        margin-top: 10px;
                        margin-left: 0;
                        text-align: center;
                        width: 100%;
                    }

                }


            }
        }
    }

    /**
     * quiz
     */

    .featured--bg2 .quiz-jumbotron{
        @media (max-width: $break_s){
            padding:20px 0;
        }
    }

    .quiz-content{

        .quiz-answers{
            margin-bottom:20px;
            display: inline-block;

            .quiz-radio{

                display: inline-block;
                margin-bottom: 20px;
                font-size: 14px;
                text-align: left;
                line-height: 1.4em;
                border-radius: 30px;
                padding:8px 10px;
                cursor: pointer;
                width: 100%;


                @media (max-width: $break_l){
                    border-radius: 10px;
                }


                span{
                    &.quiz-answers--text{
                        float: left;
                        width: calc(100% - 36px); // 26px a pipa szélessége + 10px margin
                        margin-top: 0px;

                        @media (max-width: $break_s){
                            font-size:12px;
                        }

                        @media (max-width: 400px){
                            width: calc(100% - 31px); // 26px a pipa szélessége + 5px margin 
                        }
                    }
                }

                &::before{
                    content: "";
                    display: block;
                    background: url(../images/radio-default.svg) no-repeat;
                    width: 26px;
                    height: 26px;
                    margin-top: -4px;
                    float: left;
                    margin-right: 10px;
                    
                    @media (max-width: 400px){
                        margin-right: 5px; 
                    }
                }

                &:hover{
                    background:$color_grey_content4;
                }

                &.checked{
                    &::before{
                        background: url(../images/radio-selected.svg) no-repeat;
                    }
                }

                &.is-correct{
                    background:$color_success_sec;
                    &::before{
                        background: url(../images/radio-correct.svg)  3px 5px no-repeat;
                    }
                }

                &.is-wrong{
                    background:$color_alert_sec;
                    &::before{
                        background:url(../images/radio-wrong.svg) 3px 9px no-repeat
                    }
                }

                &.quiz-radio--answered{
                    cursor:default;
                }
            }
        }
        
        .quiz-answer-button-cont{
            display: block;
        }
    }

    /**
     * failure and success templates
     */

    .quiz-result{
        padding:10px; 
        text-align:center;
        font-size:18px;
        line-height:1.4em;
        border-radius: 10px;
        
        p{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .quiz-result--success{
        background:$color_success_sec;
        color:$color_success_prim;
    }

    .quiz-result--failure{
        color:$color_alert_prim;
        background:$color_alert_sec;
    }

}