.share{
    z-index: 1000;
    position: fixed;
    top: 30%;
    left: 15px;
    background: #ffffff;
    -webkit-box-shadow: 0px 2.82873px 21.2155px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2.82873px 21.2155px rgba(0, 0, 0, 0.1);
    border-radius: 8.48619px;
    padding: 15px;
    text-align: center;

	.share-container{
		
	}

	@media (max-width: $break_l){
		top:initial;
		bottom:20px;

		.share-item{
			display: inline-block;

			&.mb-min{
				margin-bottom:0!important;
				margin-right: $space_min;
			}
		}
	}
}