/**
 * scrollMagic animations 
 */

.sm-fade-in {
	opacity: 0;
	-webkit-transition: opacity 0.6s linear 0s;
	-o-transition: opacity 0.6s linear 0s;
	-moz-transition: opacity 0.6s linear 0s;
	transition: opacity 0.6s linear 0s;

	&.sm-animate {
	    opacity: 1;
	}
}

.sm-padding{
	-webkit-transition: padding 0.3s linear 0s;
	-o-transition: padding 0.3s linear 0s;
	-moz-transition: padding 0.3s linear 0s;
	transition: padding 0.3s linear 0s;

	&.sm-animate{
		padding: 2px 16px;
	}
}

/**
 * anim
 */
.spinning{
	-webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    25%  {-webkit-transform: rotate(3deg);}
    50%  {-webkit-transform: rotate(0deg);}
    75%  {-webkit-transform: rotate(-3deg);}
    100% {-webkit-transform: rotate(0deg);}   
}

/**
 * lock anim
 */

.lock-anim{
	position: absolute;
    width: 50%;
    top: -75px;
    left: 25%;
    z-index: 0;
    opacity: 0;
    -webkit-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
        
    @media (max-width: $break_xl){
                top:-68px;
        }

        @media (max-width: $break_l){
                top:-95px;
        }

        @media (max-width: $break_m){
                top:-75px;
        }

        @media (max-width: $break_s){
                top:-50%;
        }

        @media (max-width: 400px){
                top:-60px;
        }        

	&.animate {
	    opacity: 1;
/*	    top:-75px;

	    @media (max-width: $break_xl){
			top:-68px;
		}

		@media (max-width: $break_l){
			top:-75px;
		}

		@media (max-width: $break_s){
			top:-73px;
		}

		@media (max-width: $break_xs){
			top: -45px;
			top:-60px;
		}*/
	}
} 

/*
.lock-anim{
	position: absolute;
    width: 50%;
    top: -30px;
    left: 25%;
    z-index: 0;
    opacity: 0;


	&.animate {
	    opacity: 1;
	    top:-75px;
            animation: lockrotate 0.15s forwards ease-in;
        }
}



@-webkit-keyframes lockrotate {
    0%  {-webkit-transform: rotate(-0deg); left: 24%; top: -40px; opacity: 0.5;}
    25%  {-webkit-transform: rotate(-5deg); left: 23%; top: -45px; opacity: 0.7;}
    50%  {-webkit-transform: rotate(-10deg); left: 21%; top: -50px; opacity: 1;}
    75%  {-webkit-transform: rotate(-20deg); left: 18%; top: -60px; opacity: 1;}
    100% {-webkit-transform: rotate(-30deg); left: 15%; top: -75px; opacity: 1;}
}*/