.swiper-container{
    position: relative;
    z-index: 2;
} 

.swiper-pagination-bullet {
	width: 11px;
	height: 11px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 15px;
}

.swiper-pagination-bullet-active{
    position: relative;
    
    &:after{
        content: '';
        background-image: url("../images/slider_active_ellipse.svg");
        display: block;
        width: 33px;
        height: 33px;
        position: absolute;
        top: -11px;
        left: -11px;
        
    }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	background-image: url("../images/slider_left_arrow.svg");
	left: 10px;
	right: auto;
	top: 43px;
	width: 33px;
	height: 33px;
	outline: none;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	background-image: url("../images/slider_right_arrow.svg");
	left: 53px;
	right: auto;
	top: 43px;
	width: 33px;
	height: 33px;
	outline: none;
}

@media (min-width: $break_l){
    .swiper-container-horizontal > .swiper-pagination-bullets, 
    .swiper-pagination-custom, .swiper-pagination-fraction{
            bottom: 20%;
            left: -25%;
    }
    
    .swiper-container-outer.image-on-leftside .swiper-container-horizontal > .swiper-pagination-bullets, 
    .swiper-container-outer.image-on-leftside .swiper-pagination-custom, 
    .swiper-container-outer.image-on-leftside .swiper-pagination-fraction {
            bottom: 20%;
        left: initial;
        right: 0;
        width: 50%;
    }  
    
}

.swiper-container-outer.image-on-leftside .swiper-button-next, 
.swiper-container-outer.image-on-leftside .swiper-container-rtl .swiper-button-prev {
    left: initial;
    right: 0;
}

.swiper-container-outer.image-on-leftside .swiper-button-prev, 
.swiper-container-outer.image-on-leftside .swiper-container-rtl .swiper-button-next {
    left: initial;
    right: 35px;
}

@media (max-width: $break_l){
    .prize-text-cont,
    .prize-img-cont{
        text-align: center;
        
        .jumbotron{
            padding: 0;
        }
    }
    
}