/**
 * altalanos elsodleges szin
 */
.swiper-pagination-bullet-active,
.intro-block,
.how-to-play-block{
	background: #d71536;
}

.swiper-pagination-bullet-active:after{
	background-image: url(style_settings/slider_active_ellipse.svg); /*553CD8 - a stroke-ot kell atirni*/ /*skin_main_color*/
}

.featured--bg2:after{
	background-image: url(style_settings/bg_curve.svg); /*553CD8*/ /*skin_main_color*/
}

.subtitle{
	color: #d71536;
}

.game-container .calendar-item .item-type.only-border{
	border: 1px solid #d71536;
	background:white;
	color:#d71536;
}

.game-container .calendar-item.calendar-item--current{
	background:#d71536;
	border: 3px solid #d71536;	/* + lock_top svgben is */
}

.game-container .calendar-modal .calendar-modal-inner .calendar-modal-title{
	background:#d71536;
	color: #fbfefe;
}

/**
 * ehhez tartozo szovegek beallitasa (fooldal + jatek oldal + akt. nap szovegszin)
 */
.game-display h2,
.intro-block h2,
.how-to-play-block h2{
	color:#ffffff;
	font-family: "Covered By Your Grace";
}

.main_title.upper{
	font-family: "Covered By Your Grace";
}

.game-display .lead,
.intro-block .lead,
.how-to-play-block .lead{
	color:#fbfefe;
}

.game-container .calendar-item.calendar-item--current .day,
.game-container .calendar-item.calendar-item--current .day-str{
	color:#fbfefe;
}


/**
 * altalanos gomb szin
 */
.btn-def{
	background: #b2ff8c;
	color:#093e00;	/*+ chevron_down.svg-be is ez a szín kell*/
}

.btn-def:hover {
    color: #093e00;
    -webkit-box-shadow: 0px 4px 15px #b2ff8c80;
    box-shadow: 0px 4px 15px #b2ff8c80;
}

/* játék gomb színezés */
.btn-def.btn-def-secondary-colors{
	background: #5afbff;
	color:#cf2665;	/*+ chevron_down.svg-be is ez a szín kell*/
}

.btn-def.btn-def-secondary-colors:hover {
    color: #cf2665;
    -webkit-box-shadow: 0px 4px 15px #5afbff80;
    box-shadow: 0px 4px 15px #5afbff80;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #d71536; 
}

.bs-tooltip-top .arrow::before {
  border-top-color: #d71536; 
}

.tooltip-inner {
  background: #d71536;
}

.form-content2{
    background-color: #d71536;
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover
{
    color: #d71536;
}

/**
 * also kerek ize
 */
div.bottomcover{
	background-image: url(style_settings/bg_last_section_bottom.svg); /*#F6F4FF*/ /*skin_bottom_svg_color*/
}

.game-container .calendar-item.calendar-item--past.not-viewed:hover,
.game-container .calendar-item.calendar-item--past.viewed:hover {
    -webkit-box-shadow: 0px 4px 15px #d7153680;
    box-shadow: 0px 4px 15px #d7153680;
}

.game-container .calendar-item.calendar-item--past.viewed .lock {
	background: url(style_settings/lock-opened.svg) no-repeat;
}

.tooltip-inner, 
.game-container .calendar-item.calendar-item--next .countdown,
.game-container .calendar-item.calendar-item--past.viewed .item-type
/* .game-container .calendar-item.calendar-item--past .item-type  */
{
	background: #d71536;
}

.game-container .calendar-item.calendar-item--past.viewed .item-type{
    color: #fbfefe;
}


/*
h2.main_title{
	color: #ffffff;
	font-family: "Covered By Your Grace";
}*/

.prizes-title h2{
    color: #777777;
}