/**
 * altalanos elsodleges szin 
 */
.swiper-pagination-bullet-active,
.intro-block,
.how-to-play-block{
	background: #553CD8;
}

.swiper-pagination-bullet-active:after{
	background-image: url(style_settings/slider_active_ellipse.svg); /*553CD8 - a stroke-ot kell atirni*/
}

.featured--bg2:after{
	background-image: url(style_settings/bg_curve.svg); /*553CD8*/
}

.subtitle{
	color:#553CD8;
}

.game-container .calendar-item.calendar-item--current{
	background:#553CD8;
	border: 3px solid #553CD8;	/* + lock_top svgben is */
}

.game-container .calendar-modal .calendar-modal-inner .calendar-modal-title{
	background:#553CD8;
	color: #fff;
}


/**
 * ehhez tartozo szovegek beallitasa (fooldal + jatek oldal + akt. nap szovegszin)
 */
.game-display h2,
.intro-block h2,
.how-to-play-block h2{
	color:#fff;
	font-family: "Covered By Your Grace", cursive;
}

.main_title .upper{
	font-family: "Covered By Your Grace", cursive;
}

.game-display .lead,
.intro-block .lead,
.how-to-play-block .lead{
	color:#fff;
}

.game-container .calendar-item.calendar-item--current .day,
.game-container .calendar-item.calendar-item--current .day-str{
	color:#fff;
}



/**
 * altalanos gomb szin
 */
.btn-def{
	background: #B2FF8C;
	color:#093E00;	/*+ chevron_down.svg-be is ez a szín kell*/
}

.btn-def:hover {
    color: #093E00;
}



/**
 * also kerek ize
 */
div.bottomcover{
	background-image: url(style_settings/bg_last_section_bottom.svg); /*#F6F4FF*/
}
