/**
 * altalanos elsodleges szin
 */
.swiper-pagination-bullet-active,
.intro-block,
.how-to-play-block{
	background: %skin_main_color%;
}

.swiper-pagination-bullet-active:after{
	background-image: url(style_settings/slider_active_ellipse.svg); /*553CD8 - a stroke-ot kell atirni*/ /*skin_main_color*/
}

.featured--bg2:after{
	background-image: url(style_settings/bg_curve.svg); /*553CD8*/ /*skin_main_color*/
}

.subtitle{
	color: %skin_main_color%;
}

.game-container .calendar-item .item-type.only-border{
	border: 1px solid %skin_main_color%;
	background:white;
	color:%skin_main_color%;
}

.game-container .calendar-item.calendar-item--current{
	background:%skin_main_color%;
	border: 3px solid %skin_main_color%;	/* + lock_top svgben is */
}

.game-container .calendar-modal .calendar-modal-inner .calendar-modal-title{
	background:%skin_main_color%;
	color: %skin_mainarea_text_color%;
}

/**
 * ehhez tartozo szovegek beallitasa (fooldal + jatek oldal + akt. nap szovegszin)
 */
.game-display h2,
.intro-block h2,
.how-to-play-block h2{
	color:%skin_mainarea_heading_color%;
	font-family: "%skin_mainarea_heading_font_type%";
}

.main_title.upper{
	font-family: "%skin_mainarea_heading_font_type%";
}

.game-display .lead,
.intro-block .lead,
.how-to-play-block .lead{
	color:%skin_mainarea_text_color%;
}

.game-container .calendar-item.calendar-item--current .day,
.game-container .calendar-item.calendar-item--current .day-str{
	color:%skin_mainarea_text_color%;
}


/**
 * altalanos gomb szin
 */
.btn-def{
	background: %skin_btn_background%;
	color:%skin_btn_text_color%;	/*+ chevron_down.svg-be is ez a szín kell*/
}

.btn-def:hover {
    color: %skin_btn_text_color%;
    -webkit-box-shadow: 0px 4px 15px %skin_btn_background%80;
    box-shadow: 0px 4px 15px %skin_btn_background%80;
}

/* játék gomb színezés */
.btn-def.btn-def-secondary-colors{
	background: %skin_btn_2_background%;
	color:%skin_btn_2_text_color%;	/*+ chevron_down.svg-be is ez a szín kell*/
}

.btn-def.btn-def-secondary-colors:hover {
    color: %skin_btn_2_text_color%;
    -webkit-box-shadow: 0px 4px 15px %skin_btn_2_background%80;
    box-shadow: 0px 4px 15px %skin_btn_2_background%80;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: %skin_main_color%; 
}

.bs-tooltip-top .arrow::before {
  border-top-color: %skin_main_color%; 
}

.tooltip-inner {
  background: %skin_main_color%;
}

.form-content2{
    background-color: %skin_main_color%;
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover
{
    color: %skin_main_color%;
}

/**
 * also kerek ize
 */
div.bottomcover{
	background-image: url(style_settings/bg_last_section_bottom.svg); /*#F6F4FF*/ /*skin_bottom_svg_color*/
}

.game-container .calendar-item.calendar-item--past.not-viewed:hover,
.game-container .calendar-item.calendar-item--past.viewed:hover {
    -webkit-box-shadow: 0px 4px 15px %skin_main_color%80;
    box-shadow: 0px 4px 15px %skin_main_color%80;
}

.game-container .calendar-item.calendar-item--past.viewed .lock {
	background: url(style_settings/lock-opened.svg) no-repeat;
}

.tooltip-inner, 
.game-container .calendar-item.calendar-item--next .countdown,
.game-container .calendar-item.calendar-item--past.viewed .item-type
/* .game-container .calendar-item.calendar-item--past .item-type  */
{
	background: %skin_main_color%;
}

.game-container .calendar-item.calendar-item--past.viewed .item-type{
    color: %skin_mainarea_text_color%;
}


/*
h2.main_title{
	color: %skin_mainarea_heading_color%;
	font-family: "%skin_mainarea_heading_font_type%";
}*/

.prizes-title h2{
    color: #777777;
}