<table style="width: 100%; border-collapse: collapse; border-style: none;" border="1" cellspacing="20">
<tbody>
<tr>
<td style="width: 50%; border-style: none;">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a imperdiet sapien. Vivamus consectetur faucibus diam nec venenatis. Nunc in ante nec erat sollicitudin auctor at in diam. Nullam id est at lacus posuere scelerisque at in mauris. Vestibulum ac pretium orci. Nulla facilisi. Phasellus ut fringilla ligula, eget tincidunt enim. Etiam at mi vehicula, ullamcorper lectus sit amet, faucibus neque. Integer eu erat est. Donec luctus at risus a hendrerit. Aenean egestas rutrum tortor sit amet varius.</p>
</td>
<td style="width: 50%; border-style: none;"><img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/uploads/files/winner-img.png" alt="" width="334" height="330" /></td>
</tr>
<tr>
<td style="width: 50%; border-style: none;"><img style="display: block; margin-left: auto; margin-right: auto;" src="/assets/uploads/files/coupon.jpg" alt="" width="319" height="183" /></td>
<td style="width: 50%; border-style: none; vertical-align: middle;" scope="rowgroup">Vivamus tellus purus, dapibus in ultrices eu, aliquet ac massa. Sed consequat, sem sed varius volutpat, leo odio finibus est, id sodales enim ligula in magna. Donec ut lorem fermentum, maximus lacus sit amet, vehicula sapien. Vestibulum posuere diam in neque posuere, sit amet aliquet enim gravida. Aliquam mattis efficitur aliquet. Maecenas quis erat cursus neque pellentesque dapibus. Aliquam ac enim ac turpis mollis ullamcorper. Ut at justo vulputate, pharetra ante eu, cursus diam. Quisque enim tellus, feugiat et tempus vel, tincidunt blandit enim. Donec luctus tellus fringilla mauris bibendum, nec hendrerit arcu ultricies. Cras pellentesque hendrerit nibh, a dapibus risus pulvinar non.</td>
</tr>
</tbody>
</table>