

article{
	background: #f2f2f2;
	margin: 40px auto 20px auto;
	position: relative;
	-webkit-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	-ms-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	-moz-transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	transition: all 0.8s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	}

.pieces{

	position: absolute;
	z-index: 100;
	-webkit-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	-ms-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	-moz-transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	transition: all 0.6s cubic-bezier(0.58, -0.55, 0.265, 1.45);
	perspective: 1000;
	}
        
.pieces img {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

p{
	margin: 20px auto;
	width: 100%;
	text-align: center;
}

.glow{
	z-index: 101;
    -webkit-box-shadow: 0px 0px 6px 0px #000000;
  	box-shadow: 0px 0px 6px 0px #000000;
  	transform: scale(1.1);
	}

@-webkit-keyframes animate-guage {
	0%   { transform: scale(1.04); }
	50%   { transform: scale(1.06); }
	100%  { transform: scale(1.04); }
	}

.glow-2{ -webkit-transform: rotateX(360deg); }

@-webkit-keyframes animate-guage-2 {
	0%   { transform: scale(1); }
	50%   { transform: scale(1.02); }
	100%  { transform: scale(1); }
	}

.puzzletempcover {
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	background: rgba(255,255,255,0.0);
	z-index: 100 !important;
        display: block;
}