@charset "UTF-8";
/**
 * Settings
 */
/*@font-face {
	font-family: 'NotoSans_ExtraBold';
	src: url('../fonts/NotoSans-ExtraBold.eot');
	src: local('☺'), url('../fonts/NotoSans-ExtraBold.woff') format('woff'), url('../fonts/NotoSans-ExtraBold.ttf') format('truetype'), url('../fonts/NotoSans-ExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
/**
 * Fonts basic
 */
/* nincs használatban, nincs betöltve */
/* nincs használatban, nincs betöltve */
/* nincs használatban, nincs betöltve */
/**
 * fonts extended
 */
h5, .subtitle, .menu-top h5 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.menu-top a {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

h2.cms_title, h3, .game-container .calendar-modal .calendar-modal-inner h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }

/**
 * Colors
 */
/**
 * Spacing values
 */
/**
 * Media query breakpoints
 */
/**
 * radius
 */
/**
 * basic classes
 */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                          supported by Chrome and Opera */ }

.inl-blk {
  display: inline-block; }

.img100 {
  max-width: 100%; }

.rotate {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/**
 * cf
 */
.trans {
  -webkit-transition: all 0.2s linear 0s;
  -o-transition: all 0.2s linear 0s;
  -moz-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s; }

.show-mobile {
  display: block; }

.hide-desctop {
  display: none; }

.opacity_02 {
  opacity: 0.2 !important; }

.opacity_10 {
  opacity: 1 !important; }

.align-center {
  text-align: center; }

@media (min-width: 992px) {
  .show-mobile {
    display: none; }
  .hide-desctop {
    display: block; } }

.rounded-image {
  border-radius: 50%; }

/**
 * Hide
 */
.hidden {
  display: none !important; }

/**
 * Margins
 */
.mb-0 {
  margin-bottom: 0 !important; }

.mb-min {
  margin-bottom: 1rem !important; }

.mb-half {
  margin-bottom: 1.5rem !important; }

.mb-default {
  margin-bottom: 3rem !important; }

.mb-double {
  margin-bottom: 6rem !important; }

/**
 * Paddings
 */
.pt-half {
  padding-top: 1.5rem; }

.pt-default {
  padding-top: 3rem; }

.pt-double {
  padding-top: 6rem; }

.pr-half {
  padding-right: 1.5rem; }

.pr-default {
  padding-right: 3rem; }

.pr-double {
  padding-right: 6rem; }

.pb-half {
  padding-bottom: 1.5rem; }

.pb-default {
  padding-bottom: 3rem; }

.pb-double {
  padding-bottom: 6rem; }

.pl-half {
  padding-left: 1.5rem; }

.pl-default {
  padding-left: 3rem; }

.pl-double {
  padding-left: 6rem; }

.p0 {
  padding: 0; }

a {
  outline: none; }

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
  min-height: 100vh;
  height: 100%; }

div.bottomcover {
  background-size: contain;
  background-image: url("../images/bg_last_section_bottom.svg");
  background-repeat: no-repeat;
  background-position: left 0px bottom 50px;
  position: absolute;
  bottom: 0;
  width: 80%;
  min-height: 100vh;
  z-index: 1; }

body > * {
  z-index: 2;
  position: relative; }

body > .cpm_container {
  /** cookie */
  z-index: 1000; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  line-height: 54px;
  color: #000000; }
  @media (max-width: 992px) {
    h1 {
      font-size: 30px;
      line-height: 1.4em; } }

h2.main_title {
  font-family: "Covered By Your Grace", cursive;
  font-size: 48px;
  line-height: 60px;
  color: #000000; }
  h2.main_title.upper {
    text-transform: uppercase; }
  @media (max-width: 992px) {
    h2.main_title {
      font-size: 30px;
      line-height: 1.4em; } }

h2.cms_title {
  font-size: 36px;
  line-height: 58px;
  color: #000000; }
  @media (max-width: 992px) {
    h2.cms_title {
      font-size: 30px;
      line-height: 1.4em; } }

h2.with-icon:before {
  content: '';
  display: inline-block;
  vertical-align: text-top; }
  @media (max-width: 1200px) {
    h2.with-icon:before {
      vertical-align: middle;
      margin-right: 14px; } }
  @media (max-width: 576px) {
    h2.with-icon:before {
      display: none;
      margin-right: 0; } }

h3 {
  font-style: normal;
  font-size: 32px;
  line-height: 52px;
  color: #000000; }
  @media (max-width: 992px) {
    h3 {
      font-size: 26px;
      line-height: 1.4em; } }

h5 {
  font-style: normal;
  font-size: 23px;
  line-height: 36px; }

.subtitle {
  font-size: 18px;
  line-height: 26px;
  color: #2F80ED; }

.fixed-header {
  padding-top: 8rem;
  padding-bottom: 4rem; }

.fixed-header--double {
  padding-top: 7rem; }

i.icon {
  position: absolute;
  display: block; }
  i.icon img {
    display: block;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-width: 100%; }

body > i.icon.i001 {
  /*ajándék, legfelül */
  top: 2rem;
  left: 31%;
  width: 4rem;
  max-width: 60px;
  max-height: 60px;
  z-index: 101;
  -webkit-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  transform: rotate(-22deg); }
  @media (max-width: 1200px) {
    body > i.icon.i001 {
      width: 4.5rem;
      left: 28%; } }

/**
 * Components
 */
.btn,
.btn:focus, .btn:active,
.btn-outline-primary.focus, .btn-outline-primary:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 0; }

.btn-def {
  color: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, from(#2F80ED), to(#2F80ED)), #2F80ED;
  background: -webkit-linear-gradient(bottom, #2F80ED, #2F80ED), #2F80ED;
  background: -o-linear-gradient(bottom, #2F80ED, #2F80ED), #2F80ED;
  background: linear-gradient(0deg, #2F80ED, #2F80ED), #2F80ED;
  border-radius: 40px;
  border: 0;
  font-size: 18px;
  line-height: 26px;
  padding: 7px 20px;
  margin: 0 10px; }
  .btn-def:hover {
    -webkit-box-shadow: 0px 4px 15px rgba(47, 128, 237, 0.5);
    box-shadow: 0px 4px 15px rgba(47, 128, 237, 0.5);
    color: #ffffff; }

.btn-play--mobile {
  color: #000000;
  padding: 0;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: large; }
  .btn-play--mobile:hover, .btn-play--mobile:active {
    background: transparent;
    color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 0; }

@media (max-width: 992px) {
  .btn-play--mobile2 {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0; } }

.btn-lg {
  padding: 12px 25px; }

@media (max-width: 576px) {
  .btn--mob100 {
    display: block; } }

.btn--quiz {
  padding: 5px 20px;
  font-size: 14px; }

/**
 * mainpage registration
 */
.reg-form-cont .container {
  padding: 2rem 0; }

.reg-form-cont .form-signin {
  max-width: 50%;
  display: block;
  margin: 0 auto;
  background: #ffffff;
  text-align: center;
  padding: 20px 60px;
  -webkit-box-shadow: 0px 20px 40px rgba(27, 59, 142, 0.07);
  box-shadow: 0px 20px 40px rgba(27, 59, 142, 0.07);
  border-radius: 24px; }
  @media (max-width: 1200px) {
    .reg-form-cont .form-signin {
      max-width: 80%; } }
  @media (max-width: 992px) {
    .reg-form-cont .form-signin {
      max-width: 80%; } }
  @media (max-width: 576px) {
    .reg-form-cont .form-signin {
      max-width: 90%;
      padding: 20px; } }
  .reg-form-cont .form-signin h3 {
    margin-bottom: 1rem; }
  .reg-form-cont .form-signin .input-row {
    margin-bottom: 1rem; }
    .reg-form-cont .form-signin .input-row .form-control {
      background: #F3F3F3;
      border-radius: 44px;
      padding: 24px 10px;
      border: 0;
      text-align: center; }
      .reg-form-cont .form-signin .input-row .form-control:focus {
        -webkit-box-shadow: 0px 2px 2px rgba(129, 108, 188, 0.44);
        box-shadow: 0px 2px 2px rgba(129, 108, 188, 0.44); }
      @media (max-width: 576px) {
        .reg-form-cont .form-signin .input-row .form-control {
          padding: 10px;
          height: 42px; } }
    @media (max-width: 992px) {
      .reg-form-cont .form-signin .input-row .input-col {
        margin-bottom: 1rem; } }
  .reg-form-cont .form-signin .checkbox {
    margin-bottom: .5rem; }
  .reg-form-cont .form-signin label {
    font-size: 14px;
    line-height: 1.4em;
    font-weight: bold;
    cursor: pointer; }
  .reg-form-cont .form-signin .checkbox a {
    color: #000000;
    text-decoration: underline; }
  @media (max-width: 576px) {
    .reg-form-cont .form-signin button {
      margin: 0 auto;
      width: 100%; } }

.reg-form-cont.reg-form-cont--in-calendar .form-signin {
  max-width: 100%; }
  .reg-form-cont.reg-form-cont--in-calendar .form-signin:hover {
    -webkit-box-shadow: 0px 4px 15px rgba(129, 108, 188, 0.44);
    box-shadow: 0px 4px 15px rgba(129, 108, 188, 0.44); }

/**
 * errors
 */
label.error {
  color: #E05E5E;
  display: inline-block;
  background: #FDF4F4;
  padding: 2px 10px;
  font-weight: 400 !important;
  font-size: 12px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%; }

.form_error {
  color: #E05E5E;
  font-size: 12px;
  font-weight: normal;
  font-style: normal; }

.form_error p {
  margin: 0; }

/**
 * custom checkbox
 */
.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #F3F3F3;
  border: 2px solid #cccccc; }

/* On mouse-over, add a grey background color */
.checkbox label:hover input ~ .checkmark {
  background-color: #F3F3F3; }

/* When the checkbox is checked, add a blue background */
.checkbox label input:checked ~ .checkmark {
  background-color: #2F80ED;
  border: 2px solid #2F80ED; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox label input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox label .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.share {
  z-index: 1000;
  position: fixed;
  top: 30%;
  left: 15px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2.82873px 21.2155px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2.82873px 21.2155px rgba(0, 0, 0, 0.1);
  border-radius: 8.48619px;
  padding: 15px;
  text-align: center; }
  @media (max-width: 992px) {
    .share {
      top: initial;
      bottom: 20px; }
      .share .share-item {
        display: inline-block; }
        .share .share-item.mb-min {
          margin-bottom: 0 !important;
          margin-right: 1rem; } }

.game-container {
  /**
     * quiz
     */
  /**
     * failure and success templates
     */ }
  .game-container .row {
    position: relative; }
  .game-container .calendar-item {
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    display: block;
    height: 100%;
    opacity: 0.4; }
    .game-container .calendar-item .open {
      display: none; }
    .game-container .calendar-item.opened::after {
      content: "";
      display: block;
      text-align: center;
      background: url(../images/item-opened.svg) center no-repeat;
      width: 100%;
      height: 13px;
      position: absolute;
      bottom: -20px;
      left: 0; }
    .game-container .calendar-item .day-str {
      font-weight: bold; }
    .game-container .calendar-item.calendar-item--past {
      background: #ffffff;
      border: 3px solid #ebebeb;
      position: relative;
      min-height: 160px; }
      .game-container .calendar-item.calendar-item--past .lock {
        position: absolute;
        width: 15px;
        height: 18px;
        bottom: 10px;
        right: 15px; }
      .game-container .calendar-item.calendar-item--past.viewed {
        opacity: 1; }
        .game-container .calendar-item.calendar-item--past.viewed .lock {
          background: url(../images/lock-opened-purple.svg) no-repeat; }
        .game-container .calendar-item.calendar-item--past.viewed:hover {
          -webkit-box-shadow: 0px 4px 15px rgba(47, 128, 237, 0.5);
          box-shadow: 0px 4px 15px rgba(47, 128, 237, 0.5); }
      .game-container .calendar-item.calendar-item--past.not-viewed {
        cursor: initial;
        background: #f6f6f6;
        border: 3px solid #f6f6f6; }
        .game-container .calendar-item.calendar-item--past.not-viewed .lock {
          background: url(../images/lock-closed-grey.svg) no-repeat; }
      .game-container .calendar-item.calendar-item--past .day {
        position: absolute;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #9b9b9b;
        width: 100%;
        left: 0;
        text-align: center;
        top: 35%;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto; }
      .game-container .calendar-item.calendar-item--past .item-type {
        color: #ffffff;
        background: #2F80ED;
        border-radius: 33px;
        padding: 3px;
        font-size: 11px;
        display: block;
        width: 75%;
        float: none;
        font-weight: normal;
        margin: 0 auto;
        line-height: 1.4em; }
    .game-container .calendar-item.calendar-item--current {
      background: -webkit-gradient(linear, left bottom, left top, from(#2F80ED), to(#2F80ED)), #ffffff;
      background: -webkit-linear-gradient(bottom, #2F80ED, #2F80ED), #ffffff;
      background: -o-linear-gradient(bottom, #2F80ED, #2F80ED), #ffffff;
      background: linear-gradient(0deg, #2F80ED, #2F80ED), #ffffff;
      border: 3px solid #2F80ED;
      color: #ffffff;
      opacity: 1; }
      .game-container .calendar-item.calendar-item--current .day, .game-container .calendar-item.calendar-item--current .day-str, .game-container .calendar-item.calendar-item--current .open {
        display: block; }
      .game-container .calendar-item.calendar-item--current .day {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 5px; }
      .game-container .calendar-item.calendar-item--current .day-str {
        margin-bottom: 2.3em; }
      .game-container .calendar-item.calendar-item--current .open {
        display: block;
        padding: 5px 10px;
        font-size: 14px;
        background: #ffffff;
        color: #000000;
        width: 100%;
        margin: 0; }
      .game-container .calendar-item.calendar-item--current .countdown, .game-container .calendar-item.calendar-item--current .lock, .game-container .calendar-item.calendar-item--current .item-type {
        display: none; }
      .game-container .calendar-item.calendar-item--current:hover {
        -webkit-box-shadow: 0px 4px 15px rgba(47, 128, 237, 0.5);
        box-shadow: 0px 4px 15px rgba(47, 128, 237, 0.5); }
    .game-container .calendar-item.calendar-item--next {
      cursor: initial;
      color: #000000;
      background: #f6f6f6;
      border: 3px solid #f6f6f6; }
      .game-container .calendar-item.calendar-item--next .day, .game-container .calendar-item.calendar-item--next .day-str {
        display: block; }
      .game-container .calendar-item.calendar-item--next .lock {
        display: inline-block; }
      .game-container .calendar-item.calendar-item--next .item-type {
        display: none; }
      .game-container .calendar-item.calendar-item--next .day {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 5px; }
      .game-container .calendar-item.calendar-item--next .day-str {
        margin-bottom: 2.3em; }
      .game-container .calendar-item.calendar-item--next .lock {
        background: url(../images/lock-closed-purple.svg) no-repeat;
        width: 15px;
        height: 15px;
        vertical-align: bottom; }
      .game-container .calendar-item.calendar-item--next .countdown {
        color: #ffffff;
        background: #2F80ED;
        border-radius: 33px;
        padding: 7px 10px;
        font-size: 14px;
        display: block;
        width: 80%;
        float: right;
        font-weight: bold; }
        .game-container .calendar-item.calendar-item--next .countdown::after {
          display: block;
          content: "";
          clear: both; }
    .game-container .calendar-item.calendar-item--future {
      cursor: initial;
      position: relative;
      background: #f6f6f6;
      border: 3px solid #f6f6f6;
      min-height: 160px; }
      .game-container .calendar-item.calendar-item--future .day, .game-container .calendar-item.calendar-item--future .lock {
        position: absolute; }
      .game-container .calendar-item.calendar-item--future .day {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #cccccc;
        width: 100%;
        left: 0;
        text-align: center;
        top: 35%;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto; }
      .game-container .calendar-item.calendar-item--future .lock {
        background: url(../images/lock-closed-grey.svg) no-repeat;
        width: 15px;
        height: 18px;
        bottom: 10px;
        right: 15px; }
  .game-container .calendar-modal {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .calendar-modal .calendar-modal-inner {
      width: 100%;
      background: #ffffff;
      padding: 10px;
      border: 2px solid rgba(0, 0, 0, 0.05);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      position: relative;
      min-height: 100px;
      overflow: hidden;
      /* #regisztracio */ }
      .game-container .calendar-modal .calendar-modal-inner p.lead {
        margin-top: 0; }
      .game-container .calendar-modal .calendar-modal-inner * {
        z-index: 2; }
      .game-container .calendar-modal .calendar-modal-inner .featured--bg2:after {
        background-image: none; }
      .game-container .calendar-modal .calendar-modal-inner .reg-form-cont .form-signin > i.icon.i001 {
        /*ajándék, legfelül */
        top: -70px;
        left: -50px;
        width: 30%;
        height: 30%;
        max-width: 100px;
        max-height: 100px;
        z-index: 1;
        -webkit-transform: rotate(-22deg);
        -o-transform: rotate(-22deg);
        -ms-transform: rotate(-22deg);
        transform: rotate(-22deg); }
      .game-container .calendar-modal .calendar-modal-inner .calendar-modal-close {
        position: absolute;
        top: 8px;
        right: 5px;
        display: inline-block; }
        @media (max-width: 992px) {
          .game-container .calendar-modal .calendar-modal-inner .calendar-modal-close {
            display: none; } }
      .game-container .calendar-modal .calendar-modal-inner .calendar-modal-close--mobile {
        position: absolute;
        top: 8px;
        right: 5px;
        display: none;
        outline: none; }
        @media (max-width: 992px) {
          .game-container .calendar-modal .calendar-modal-inner .calendar-modal-close--mobile {
            display: inline-block;
            right: 0px; } }
      .game-container .calendar-modal .calendar-modal-inner .calendar-modal-close--in-text {
        font-weight: 400;
        font-size: 16px; }
      .game-container .calendar-modal .calendar-modal-inner .calendar-modal-content {
        opacity: 0;
        -webkit-transition: opacity 0.6s linear 0s;
        -o-transition: opacity 0.6s linear 0s;
        -moz-transition: opacity 0.6s linear 0s;
        transition: opacity 0.6s linear 0s; }
        .game-container .calendar-modal .calendar-modal-inner .calendar-modal-content.animate {
          opacity: 1; }
      .game-container .calendar-modal .calendar-modal-inner .preloader {
        display: block;
        background: url(../images/Eclipse-1s-200px.svg) center no-repeat;
        width: 100%;
        height: 200px;
        margin: 0 auto;
        position: absolute;
        top: 35%;
        z-index: 0; }
      .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title {
        background: #FFFF00;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 5px 10px;
        width: 95%;
        color: #000000;
        position: relative;
        text-align: left; }
        @media (max-width: 992px) {
          .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title {
            width: auto;
            text-align: center;
            margin: 0px 30px; }
            .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title .lock-open-svg {
              position: absolute;
              left: -25px;
              top: 8px; } }
        .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title svg {
          vertical-align: initial; }
        .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title span {
          display: inline-block; }
        .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title .calendar-modal-title-day {
          font-size: 24px;
          font-weight: bold;
          margin: 0 0 0 10px; }
          @media (max-width: 992px) {
            .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title .calendar-modal-title-day {
              text-align: center;
              display: inline-block;
              width: inherit;
              margin: 0;
              left: 0; } }
        .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title .calendar-modal-title-text {
          font-size: 12px;
          font-weight: bold; }
        .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title .calendar-modal-title-text--long {
          margin-left: 30px; }
          @media (max-width: 992px) {
            .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title .calendar-modal-title-text--long {
              position: relative;
              margin-top: 10px;
              margin-left: 0;
              text-align: center;
              width: 100%; } }
  @media (max-width: 576px) {
    .game-container .featured--bg2 .quiz-jumbotron {
      padding: 20px 0; } }
  .game-container .quiz-content .quiz-answers {
    margin-bottom: 20px;
    display: inline-block; }
    .game-container .quiz-content .quiz-answers .quiz-radio {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 14px;
      text-align: left;
      line-height: 1.4em;
      border-radius: 30px;
      padding: 8px 10px;
      cursor: pointer;
      width: 100%; }
      @media (max-width: 992px) {
        .game-container .quiz-content .quiz-answers .quiz-radio {
          border-radius: 10px; } }
      .game-container .quiz-content .quiz-answers .quiz-radio span.quiz-answers--text {
        float: left;
        width: calc(100% - 36px);
        margin-top: 0px; }
        @media (max-width: 576px) {
          .game-container .quiz-content .quiz-answers .quiz-radio span.quiz-answers--text {
            font-size: 12px; } }
        @media (max-width: 400px) {
          .game-container .quiz-content .quiz-answers .quiz-radio span.quiz-answers--text {
            width: calc(100% - 31px); } }
      .game-container .quiz-content .quiz-answers .quiz-radio::before {
        content: "";
        display: block;
        background: url(../images/radio-default.svg) no-repeat;
        width: 26px;
        height: 26px;
        margin-top: -4px;
        float: left;
        margin-right: 10px; }
        @media (max-width: 400px) {
          .game-container .quiz-content .quiz-answers .quiz-radio::before {
            margin-right: 5px; } }
      .game-container .quiz-content .quiz-answers .quiz-radio:hover {
        background: #f6f6f6; }
      .game-container .quiz-content .quiz-answers .quiz-radio.checked::before {
        background: url(../images/radio-selected.svg) no-repeat; }
      .game-container .quiz-content .quiz-answers .quiz-radio.is-correct {
        background: #F5FAF5; }
        .game-container .quiz-content .quiz-answers .quiz-radio.is-correct::before {
          background: url(../images/radio-correct.svg) 3px 5px no-repeat; }
      .game-container .quiz-content .quiz-answers .quiz-radio.is-wrong {
        background: #FDF4F4; }
        .game-container .quiz-content .quiz-answers .quiz-radio.is-wrong::before {
          background: url(../images/radio-wrong.svg) 3px 9px no-repeat; }
      .game-container .quiz-content .quiz-answers .quiz-radio.quiz-radio--answered {
        cursor: default; }
  .game-container .quiz-content .quiz-answer-button-cont {
    display: block; }
  .game-container .quiz-result {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4em;
    border-radius: 10px; }
    .game-container .quiz-result p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem; }
  .game-container .quiz-result--success {
    background: #F5FAF5;
    color: #6CBC6F; }
  .game-container .quiz-result--failure {
    color: #E05E5E;
    background: #FDF4F4; }

/**
 * scrollMagic animations 
 */
.sm-fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.6s linear 0s;
  -o-transition: opacity 0.6s linear 0s;
  -moz-transition: opacity 0.6s linear 0s;
  transition: opacity 0.6s linear 0s; }
  .sm-fade-in.sm-animate {
    opacity: 1; }

.sm-padding {
  -webkit-transition: padding 0.3s linear 0s;
  -o-transition: padding 0.3s linear 0s;
  -moz-transition: padding 0.3s linear 0s;
  transition: padding 0.3s linear 0s; }
  .sm-padding.sm-animate {
    padding: 2px 16px; }

/**
 * anim
 */
.spinning {
  -webkit-animation: spin 1s infinite linear; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  25% {
    -webkit-transform: rotate(3deg); }
  50% {
    -webkit-transform: rotate(0deg); }
  75% {
    -webkit-transform: rotate(-3deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

/**
 * lock anim
 */
.lock-anim {
  position: absolute;
  width: 50%;
  top: -75px;
  left: 25%;
  z-index: 0;
  opacity: 0;
  -webkit-transition: all 0.1s linear 0s;
  -o-transition: all 0.1s linear 0s;
  -moz-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s; }
  @media (max-width: 1200px) {
    .lock-anim {
      top: -68px; } }
  @media (max-width: 992px) {
    .lock-anim {
      top: -95px; } }
  @media (max-width: 768px) {
    .lock-anim {
      top: -75px; } }
  @media (max-width: 576px) {
    .lock-anim {
      top: -50%; } }
  @media (max-width: 400px) {
    .lock-anim {
      top: -60px; } }
  .lock-anim.animate {
    opacity: 1;
    /*	    top:-75px;

	    @media (max-width: $break_xl){
			top:-68px;
		}

		@media (max-width: $break_l){
			top:-75px;
		}

		@media (max-width: $break_s){
			top:-73px;
		}

		@media (max-width: $break_xs){
			top: -45px;
			top:-60px;
		}*/ }

/*
.lock-anim{
	position: absolute;
    width: 50%;
    top: -30px;
    left: 25%;
    z-index: 0;
    opacity: 0;


	&.animate {
	    opacity: 1;
	    top:-75px;
            animation: lockrotate 0.15s forwards ease-in;
        }
}



@-webkit-keyframes lockrotate {
    0%  {-webkit-transform: rotate(-0deg); left: 24%; top: -40px; opacity: 0.5;}
    25%  {-webkit-transform: rotate(-5deg); left: 23%; top: -45px; opacity: 0.7;}
    50%  {-webkit-transform: rotate(-10deg); left: 21%; top: -50px; opacity: 1;}
    75%  {-webkit-transform: rotate(-20deg); left: 18%; top: -60px; opacity: 1;}
    100% {-webkit-transform: rotate(-30deg); left: 15%; top: -75px; opacity: 1;}
}*/
.swiper-container {
  position: relative;
  z-index: 2; }

.swiper-pagination-bullet {
  width: 11px;
  height: 11px; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 15px; }

.swiper-pagination-bullet-active {
  position: relative; }
  .swiper-pagination-bullet-active:after {
    content: '';
    background-image: url("../images/slider_active_ellipse.svg");
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    top: -11px;
    left: -11px; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("../images/slider_left_arrow.svg");
  left: 10px;
  right: auto;
  top: 43px;
  width: 33px;
  height: 33px;
  outline: none; }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("../images/slider_right_arrow.svg");
  left: 53px;
  right: auto;
  top: 43px;
  width: 33px;
  height: 33px;
  outline: none; }

@media (min-width: 992px) {
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20%;
    left: -25%; }
  .swiper-container-outer.image-on-leftside .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-container-outer.image-on-leftside .swiper-pagination-custom,
  .swiper-container-outer.image-on-leftside .swiper-pagination-fraction {
    bottom: 20%;
    left: initial;
    right: 0;
    width: 50%; } }

.swiper-container-outer.image-on-leftside .swiper-button-next,
.swiper-container-outer.image-on-leftside .swiper-container-rtl .swiper-button-prev {
  left: initial;
  right: 0; }

.swiper-container-outer.image-on-leftside .swiper-button-prev,
.swiper-container-outer.image-on-leftside .swiper-container-rtl .swiper-button-next {
  left: initial;
  right: 35px; }

@media (max-width: 992px) {
  .prize-text-cont,
  .prize-img-cont {
    text-align: center; }
    .prize-text-cont .jumbotron,
    .prize-img-cont .jumbotron {
      padding: 0; } }

/**
 * Layout elements
 */
/**
 * header section
 */
header {
  position: fixed;
  z-index: 100;
  display: block;
  width: 100%; }

.navbar-expand-lg .navbar-nav .nav-link {
  color: #252525; }

.navbar-expand-lg .navbar-nav .nav-link.active {
  color: #2F80ED; }

.menu-top {
  background: rgba(255, 255, 255, 0.99);
  font-style: normal;
  font-weight: normal;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); }
  .menu-top a {
    /*font-size: 16px;*/
    font-size: 1rem;
    line-height: 1.5;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; } }

.menu-top h5 a {
  font-size: 22px;
  line-height: 27px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #091527; }
  .menu-top h5 a:hover {
    text-decoration: none; }

/**
 * navbar
 */
.navbar-light .navbar-toggler {
  outline: none; }

.navbar-nav {
  margin-top: 10px;
  margin-bottom: 10px; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem; }
  .navbar-expand-lg .navbar-collapse {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }

.navbar-light .navbar-toggler {
  border: 0; }

@media (max-width: 992px) {
  a.nav-link {
    text-align: center; }
  .navbar-nav {
    padding-top: 20px; } }

/**
 * navbar - Hamburger Menu Animation
 */
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #3C3C3C;
  display: block;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px; }

.navbar-toggler {
  border: none;
  background: transparent !important; }

.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%; }

.navbar-toggler .middle-bar {
  opacity: 0; }

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%; }

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.navbar-toggler.collapsed .middle-bar {
  opacity: 1; }

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

/**
 * tooltip
 */
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #2F80ED; }

.bs-tooltip-top .arrow::before {
  border-top-color: #2F80ED; }

.tooltip-inner {
  background: #2F80ED;
  -webkit-box-shadow: 0px 4px 30px rgba(129, 108, 188, 0.44);
  box-shadow: 0px 4px 30px rgba(129, 108, 188, 0.44); }

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #2F80ED; }

/**
 * infobar:
 */
.infobar {
  background: #F3F3F3;
  text-align: center;
  padding: .5rem;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 1rem; }

.header-image {
  margin-bottom: 2rem; }
  .header-image img {
    max-width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; }

.cms-content {
  padding-bottom: 1rem;
  min-height: 100vh; }
  .cms-content h1 {
    margin-bottom: 1rem; }
  .cms-content p {
    font-size: 16px;
    line-height: 1.7rem;
    margin-bottom: 2rem; }
  .cms-content a {
    color: #2F80ED;
    font-weight: bold; }
  .cms-content ul {
    margin: 1rem 0; }
    .cms-content ul li {
      margin-bottom: 1rem; }

.container {
  position: relative; }
  @media (max-width: 992px) {
    .container {
      text-align: center; } }

section {
  position: relative; }
  section:last-of-type {
    padding-top: 3rem;
    padding-bottom: 3rem; }
    section:last-of-type.game-container {
      background-image: none;
      background: transparent;
      z-index: 3;
      padding-top: 6rem; }
      @media (max-width: 992px) {
        section:last-of-type.game-container {
          padding-top: 5rem; } }
    section:last-of-type .container i.icon.i001 {
      /* ajándék */
      top: -12rem;
      left: 8rem;
      width: 6rem;
      z-index: 1;
      -webkit-transform: rotate(-22deg);
      -o-transform: rotate(-22deg);
      -ms-transform: rotate(-22deg);
      transform: rotate(-22deg); }
    section:last-of-type .container i.icon.i002 {
      /* */
      top: 55%;
      left: 50%;
      width: 8rem;
      z-index: 1;
      -webkit-transform: rotate(8deg);
      -o-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
      transform: rotate(8deg); }
    section:last-of-type .container i.icon.i003 {
      /* ajándék */
      top: -5%;
      right: 10%;
      width: 5rem;
      z-index: 1;
      -webkit-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg); }
  section:first-of-type {
    padding-top: 8rem; }
    @media (max-width: 992px) {
      section:first-of-type {
        padding-top: 4rem; } }
    section:first-of-type.cms-content {
      padding-top: 8rem; }
    section:first-of-type.calendar-modal-content-section {
      padding-top: 0rem; }
  section.featured--with-image {
    padding-top: 1rem;
    padding-bottom: 3rem; }
  section.calendar-modal-content-section {
    padding: 1rem 0rem 3rem 0rem;
    background-image: none; }
    @media (max-width: 768px) {
      section.calendar-modal-content-section {
        padding: 0; } }
  section.game-display {
    background-color: #553cd8; }

/* #regisztracio */
.reg-form-cont {
  z-index: 2;
  min-height: 400px; }
  .reg-form-cont .form-signin {
    min-height: 330px;
    position: relative; }
    .reg-form-cont .form-signin > i.icon.i001 {
      /*ajándék, legfelül */
      bottom: -78px;
      left: -15%;
      width: 30%;
      height: 30%;
      z-index: 1;
      -webkit-transform: rotate(-22deg);
      -o-transform: rotate(-22deg);
      -ms-transform: rotate(-22deg);
      transform: rotate(-22deg); }

.featured-full-width-bg {
  background: #FFFF00; }

.featured-full-width-bgimg {
  /*    background: url(../tmp/reg-bg.png) top center no-repeat;
    background-size: cover;*/ }

.featured.prizes-title {
  z-index: 3; }

.featured .container {
  background: transparent; }

.featured .jumbotron {
  background: transparent;
  padding: 2rem 0 0 0; }
  .featured .jumbotron p.lead {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem; }
    @media (max-width: 1200px) {
      .featured .jumbotron p.lead {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1rem; } }
  @media (min-width: 1200px) {
    .featured .jumbotron {
      padding: 4rem; } }

.featured.intro-block .main_title {
  font-size: 56px; }
  .featured.intro-block .main_title.upper {
    text-transform: uppercase; }

.featured.intro-block .mainpage-intro-imgcont-outer {
  position: relative; }
  .featured.intro-block .mainpage-intro-imgcont-outer i.icon.i001 {
    /* controller */
    top: -3%;
    left: 95%;
    width: 15%;
    z-index: 1; }
  .featured.intro-block .mainpage-intro-imgcont-outer i.icon.i002 {
    /* ajándék */
    bottom: -13%;
    left: 57%;
    width: 19%;
    z-index: 3;
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  .featured.intro-block .mainpage-intro-imgcont-outer i.icon img {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: none; }
  .featured.intro-block .mainpage-intro-imgcont-outer .mainpage-intro-imgcont {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2; }
    .featured.intro-block .mainpage-intro-imgcont-outer .mainpage-intro-imgcont img {
      width: 100%; }

.featured.intro-block img {
  -webkit-box-shadow: 0px 20px 40px rgba(27, 59, 142, 0.3);
  box-shadow: 0px 20px 40px rgba(27, 59, 142, 0.3);
  border-radius: 16px; }

.how-to-play-block {
  background-color: #FFFF00; }
  .how-to-play-block .container {
    position: relative; }
    .how-to-play-block .container i.icon {
      position: absolute;
      display: block; }
      .how-to-play-block .container i.icon img {
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none;
        max-width: 100%; }
      .how-to-play-block .container i.icon.i001 {
        /* szív */
        top: 19%;
        left: 10%;
        width: 10%;
        z-index: 1;
        -webkit-transform: rotate(-15deg);
        -o-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        transform: rotate(-15deg); }
      .how-to-play-block .container i.icon.i002 {
        /* szív */
        bottom: -110%;
        left: 83%;
        width: 19%;
        z-index: 3;
        -webkit-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg); }

.featured--bg2 {
  position: relative; }
  .featured--bg2:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-image: url("../images/bg_curve.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    height: 400px;
    z-index: 1; }
  .featured--bg2 .container {
    background: transparent;
    z-index: 2;
    position: relative; }
  .featured--bg2 .jumbotron {
    padding: 2rem;
    margin-bottom: 0; }
    @media (max-width: 1200px) {
      .featured--bg2 .jumbotron {
        padding: 20px; } }
    .featured--bg2 .jumbotron p.lead {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 1.25rem; }
      @media (max-width: 1200px) {
        .featured--bg2 .jumbotron p.lead {
          font-size: 1rem; } }

body {
  padding-bottom: 148px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 148px;
  text-align: center;
  font-size: 13px;
  color: #ffffff;
  /*    &:after{
	background-size: contain;
	background-image: url(../images/bg_last_section_bottom.svg);
	background-repeat: no-repeat;
	background-position: 0px -400px;
	content: '';
	width: 100%;
	height: 400px;
	display: block;
	position: absolute;
	z-index: 5;
    }    */ }
  .footer a {
    font-size: 12.8px;
    display: inline-block;
    margin: 0 10px; }
    .footer a:hover {
      text-decoration: underline; }
    @media (max-width: 768px) {
      .footer a {
        display: block; } }
  .footer .footer--top {
    padding: 30px 0;
    background: #3C3C3C;
    color: #ffffff; }
    .footer .footer--top a {
      color: #ffffff; }
  .footer .footer--bottom {
    padding: 20px 0;
    background: #252525;
    color: rgba(255, 255, 255, 0.53); }
