body{
    max-width: 1980px;
    margin:0 auto;
}
header{
    max-width: 1980px;
}

.form-content2{
    background: rgba(47,128,237);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size: large;
    max-width: 70%;
    margin: 0 auto;
}
.form-input{
    width: 80%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 0;
}
.frm-row{
    margin-bottom: 20px;
}
.btn-inv{
    background:#fff;
    color: rgba(47,128,237);
}
.btn-inv:hover{
    color: rgba(47,128,237);
}
.form-title{
    margin-bottom: 1.5rem;
    color:#fff;
}
span.form_error2 p, .form_error2{
    font-size: 16px;
    line-height: 1.7rem;
    margin-bottom: 0;
    background: #E05E5E;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    border-radius: 10px;
}
.form_error2{
    margin-bottom: 20px;
    margin-top: 5px;
    display: block;
}
.loginform a{
    color: #fff;
    font-weight: normal;
    line-height: 1.6em;
}

div.bottomcover{
    width: 60%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #060A18;
    font-weight: normal;
}

section:last-of-type.game-container {
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 30px;
    background: #fff;
}

.game-container .calendar-item.calendar-item--past.not-viewed {
    background: #f0f0f0;
    border: 3px solid #f0f0f0;
}

.featured--bg2:after{
    height: 380px;
    background-size: cover;
    bottom: 0;
    top: 75px;
}

.calendar-modal-content-section.featured--bg2:after{
    height: 0px;
    background: none;
}

.moveback{
    z-index: 100!important;
}

.how-to-play-block .container i.icon.i001{
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

#regisztracio .form-signin > i.icon.i001 {
    bottom: -50px;
    left: -22px;
    width: 75px;
}

.btn-play--mobile{
    background:transparent!important;
}

.btn.accept_all{
    background: #333!important;
}

.quiz-question{
    font-weight: bold;
    margin-bottom: 20px;
}

.game-container .quiz-content .quiz-answers{
    width: 100%;
}

.game-container .quiz-content .quiz-answers .quiz-radio span.quiz-answers--text{
    font-weight: normal;
}

.game-container .quiz-content .quiz-answers .quiz-radio--answered::before{

}

h2.cms_title, h3, .game-container .calendar-modal .calendar-modal-inner h2{
    font-size: x-large;
}


.game-container .calendar-item.calendar-item--prv.not-viewed{
    background: #ffffff;
    border: 3px solid #ebebeb;
    cursor: pointer;
}

#regisztracio .is-logged .form-signin{
    min-height: 180px;
}

#regisztracio{
    min-height: initial;
}

.game-container .calendar-item.calendar-item--current .open{
    font-size: 12px;
    line-height: 1.4em;
}

.btn-play--mobile{
    display: none!important;
}

@media only screen and (max-width: 992px) {
    #last_name{
        margin-bottom: 1rem;
    }

    .share {
        top: initial;
        bottom: 20px;
        left: 0;
        position: relative;
        border-radius: 0;
    }

    .suti-tajekoztato .container,
    .jogi-nyilatkozat .container,
    .adatvedelmi-nyilatkozat .container,
    .jatekszabalyzat .container{
        text-align: left;
    }
}


@media only screen and (max-width: 600px) {

    .calendar-modal-content-section .jumbotron{
        padding: 20px 0;
    }

    .calendar-modal-content-section .jumbotron .form-signin{
        max-width: 100%;
                padding: 20px 10px;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
    {
        position: relative;
        left: 0;
        top: -20px;
        width: 100%;
    }

    .win-icons{
        display: none;
    }
/*  section:first-of-type {
        padding-top: 1rem;
    }*/

    .featured.intro-block .main_title {
        font-size: xx-large;
        text-align: center;
    }

    .featured.intro-block .mainpage-intro-imgcont-outer{
        padding-left: 15px;
        padding-right: 15px;
    }

    .swiper-container .featured--with-image{
        padding-top: 0;
    }

    .prizes-title .jumbotron{
        padding-bottom: 0;
    }

    .form-content2{
        max-width: 100%;
    }

    .form-input{
        width:90%;
    }

    .form-content2 .form-error2{
        color: #fff;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        background: #E05E5E;
        display: block;
        width: 90%;
        margin: 0 auto;
        border-radius: 5px;
        font-size: 12px;
    }

    .game-container .calendar-modal .calendar-modal-inner .calendar-modal-title .calendar-modal-title-text--long{
        padding-top: 10px;
    }
}

section.game-display{
    background: transparent!important;
}

.game-container .calendar-item.calendar-item--current:hover {
    -webkit-box-shadow: 0px 4px 15px rgba(215, 21, 54, 0.5);
    box-shadow: 0px 4px 15px rgba(215, 21, 54, 0.5);
}

.tooltip-inner,
.game-container .calendar-item.calendar-item--next .countdown,
.game-container .calendar-item.calendar-item--past .item-type{
/*    background: #d71536;*/
}

.bs-tooltip-top .arrow::before {
/*    border-top-color: #d71536;*/
}

.elfelejtett-jelszo .form-content2{
/*    background: #d71536; */
}

.cpm_container .panel h2{
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 400!important;
    font-size: 1.6rem!important;
    line-height: 1.4!important;
    color: #000000;
}

.prizes-title h2{
    color: #d71536;
}

.game-container .calendar-item.calendar-item--past.not-viewed .lock {
    background: none;
}

.game-container .calendar-item.calendar-item--past.not-viewed {
    background: #f0f0f0;
    border: 3px solid #f0f0f0;
    background: #ffffff;
    border: 3px solid #ebebeb;
    cursor: pointer;
    opacity: 1;
}

.game-container .calendar-item.calendar-item--past.not-viewed:hover {
    -webkit-box-shadow: 0px 4px 15px rgba(47, 128, 237, 0.5);
    box-shadow: 0px 4px 15px rgba(47, 128, 237, 0.5);
}

.game-container .calendar-item .past-open-btn {
    font-size: 12px;
    line-height: 1.4em;
    display: block;
    padding: 5px 10px;
    background: #ffffff;
    color: #000000;
    width: 100%;
    margin: 0;
    margin-top: 90px;
    border: 1px solid red;
}

@media (max-width: 992px) {
    .swiper-container-outer.image-on-leftside .swiper-button-next {
        top: 20px;
        left: calc(50% + 22px);
    }
    .swiper-container-outer.image-on-leftside .swiper-button-prev {
        top: 20px;
        left: calc(50% - 50px);
    }
    .swiper-container-autoheight .swiper-wrapper{
        margin-top: 70px;
    }
}
.quiz-question img {
    max-width: 100%;
    height: auto;
}
.c-layer {
    right: 0;
}
.cms-content-top-section a, .cms-content-top-section u {
    word-break: break-word;
}