@font-face { font-family: 'MaureaHun-Light'; src: url("../fonts/MaureaHun-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/MaureaHun-Light.otf") format("opentype"), url("../fonts/MaureaHun-Light.woff") format("woff"), url("../fonts/MaureaHun-Light.ttf") format("truetype"), url("../fonts/MaureaHun-Light.svg#MaureaHun-Light") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MaureaHun-Bold'; src: url("../fonts/MaureaHun-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MaureaHun-Bold.otf") format("opentype"), url("../fonts/MaureaHun-Bold.woff") format("woff"), url("../fonts/MaureaHun-Bold.ttf") format("truetype"), url("../fonts/MaureaHun-Bold.svg#MaureaHun-Bold") format("svg"); font-weight: normal; font-style: normal; }

body{
	background: #fff;
	font-family: 'Open Sans';
	font-size:13px;
	font-weight: 200;
}

textarea{
	resize:none;
}

.btn{
	font-size:13px;
}

.h1, h1 {
    font-size: 25px;
}

.table-bordered td{
	font-weight: normal;
}

.tab-pane{
	background:#fff;
}

.breadcrumb{
	background: #fff;
}

.fieldset{
	font-size: large;
    padding: 5px 10px;
    margin: 20px 0;
    background-color: #434343;
    font-weight: 200;
    border-radius: 3px;
    color: #fff;
 }
 
 .fieldset_subhelp{
     margin-top: -15px;
     margin-bottom: 20px; 
     margin-left: 10px;
 }
 .fieldset_subhelp span{
     font-size: 12px;
 }

.post_icon_form_group .upload-success-url{
	background: #cfcfcf;
}

.hub_list_icon_form_group .upload-success-url{
	background: #cfcfcf;
}

.logo_form_group .upload-success-url{
	background: #cfcfcf;
}

.sortable-handle{
	cursor: s-resize;
}

.img-row{
	border-bottom: 1px solid #DDD;
}

.breadcrumb{
	margin-bottom: 5px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.table-label{
	display: none;
}

.gc-container .table-container{
	border-top: 1px solid #DDD;
	border:0;
	/*border-left:3px solid #ddd;*/
	/*background: #fcfcfc;*/
	background:transparent;
}

.navbar-inverse {
    background-color: #2f9ae7 ;
    border-color: #2f9ae7 ;

    /* background-color: #f0ad4e;
    border-color: #f0ad4e;*/
}

.side-nav {
    background-color: #373737!important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #434343!important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #999;
    text-transform: uppercase;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.top-nav>li>a{
	color: #fff;
}

.report-div{
	text-align: center;
    width: 80%;
    margin: 15px auto;
    padding: 20px;
}

.form-control{
	height: 40px;
    padding: 8px 12px;
    color: #4E4E4E;
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #DDDDDD;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

textarea.form-control {
    min-height: 130px;
}

.chosen-container-single .chosen-single{
	border: 1px solid #DDDDDD;
    border-radius: 0;
}

.chosen-container{
	width:100%!important;
}

.breadcrumb{
	border-radius: 0;
}

.grocery-crud-table thead{
	background-color: #5a5a5a;;
    color: #fff;
}

.grocery-crud-table th{
	font-weight: normal;
}

.alert{
	border-radius: 0;
}

.panel{
	border-radius: 0;
}

.form-control {
	font-size: 13px;
}

.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.grocery-crud-table.table-bordered>thead>tr>td, .grocery-crud-table.table-bordered>thead>tr>th {
    border-bottom-width: 0;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 0;
}

.table-bordered {
    border: 0;
}

.grocery-crud-table tbody tr{
	border-bottom: 1px solid #DDD;
}

.gc-container .header-tools{
	border:0!important;
}

.header-tools .floatL .btn-default{
	color: #fff !important;
    background-color: #2090C5;
    border-color: #2090C5;
    -webkit-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}

.table-hover>tbody>tr:hover {
    background-color: #EDEDEC;
    color: #222;
}

.gc-container .column-with-ordering:hover {
    background: #EDEDEC !important;
    color: #000 !important;
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: inherit!important;
}

span.required_star, .required{
	color:red;
}
.required{
    display: none;
}

.sidebar ul li{
	margin-bottom: 10px;
}

.form-control:focus {
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar ul{
	margin: 0;
    padding: 0;
    padding-left: 10px;
}

.alert-info a{
	text-decoration: underline;
}

.searchform{
	border: 1px solid #ddd;
    padding: 15px;
    margin-top: 20px;
}

.side-nav{
	background-color: #212B3C;
}

.datepicker-input-clear{
    padding: 5px 10px;
    margin-top: 5px;
}

.field-info{
	font-style: italic;
	margin-top: -5px;
    margin-bottom: 30px;
    font-weight:normal; 
    color: #999;
    font-size:11px;
}

.crud-list-container{
	background-color: #fff;
	padding: 20px;
}

#field-note,
#field-cal_day,
#field-headline_text
{
    font-weight: bold;
    font-size: large;
}

.note_form_group label{
	display: none;
}

.note_form_group .col-sm-9{
	/*content:" ";
	display:block;
	margin-bottom: 20px;
	height:10px;
	background: red;*/

	background: #2f9ae7;
    color: #fff;
}

#fancybox-img{
	width:auto!important;
}

.mainpage_registered_players {
	margin: 5px 0px;
}

@media (min-width: 768px)
{
	.side-nav li a:hover, .side-nav li a:focus {
	    outline: none;
	    background-color: #434343 !important;
	}
}

.side-nav{
	padding-top: 25px;
}

.side-nav .fa-fw{
	margin-right:5px;
}

#page-wrapper{
	background-color: #f6f6f6;
	min-height: 100vh;
}

@media print {
	body{
		font-family: verdana;
	}

	img{
		max-width:500px;
	}

	.nav-tabs,
	.breadcrumb,
	.printbtn,
	.cancel-button,
	.sidebar,
	h1.page-header{
		display: none;
	}

	.control-label{
		font-weight: bold;
	}
	
	.gc-container .table-container,
	.tab-content{
		border:0!important;
	}

	.table-label{
		background:#fff;
	}
}
.pwire_cont {
	margin: -103px 0px 20px 10px;
	border: 1px solid #cccccc;
	max-width: 600px;
	float: right;
        background: #ffffff;
}
.pwire_head{
    padding: 10px;
}
.pwire_logo {
	display: inline-block;
	width: 30%;
	font-weight: bold;
	font-size: 2rem;
}
.pwire_menucont {
	display: inline-block;
	text-align: right;
	width: 69%;
}
.pwire_menucont span {
	display: inline-block;
	padding: 5px;
}

.pwire_body{
	padding: 10px;
	background-color: #ccc;
	min-height: 20em;
}

.pwire_bodyleft {
	display: inline-block;
	width: 60%;
        vertical-align: top;
}
.pwire_bodyright {
	display: inline-block;
	width: 40%;
	text-align: center;
}
.pwire_bodyright span{
	padding: 10%;
	display: inline-block;
	background-color: #fff;
	width: 80%;
	font-size: 35px;
	margin-top: 10px;
	border-radius: 1rem;
}
.pwire_maintext {
	display: block;
	font-size: 32px;
	padding: 10px;
	margin-top: 10px;
}
.pwire_subtext {
	display: block;
	padding: 0px 10px 10px 10px;
}
.pwire_bodybottom{
    width: 100%;
}

.pwire_bodybottom{
    text-align: center;
    margin-top: 4rem;
}

.pwire_bodybottom .pwire_maintext{
    font-size: 24px;
}

.selected_skin_mainarea_heading_font_sample{
    margin: 15px 0px;
    font-size: 24px;
}

.btn_sample_outer{
    margin-top: 20px;
}

.btn_sample {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-shadow: none;
        outline: none;        
        font-family: "Montserrat";
}

.btn-def_sample {
	color: #ffffff;
	background: -webkit-gradient(linear, left bottom, left top, from(#2F80ED), to(#2F80ED)), #2F80ED;
	background: -webkit-linear-gradient(bottom, #2F80ED, #2F80ED), #2F80ED;
	background: -o-linear-gradient(bottom, #2F80ED, #2F80ED), #2F80ED;
	background: linear-gradient(0deg, #2F80ED, #2F80ED), #2F80ED;
	border-radius: 40px;
	border: 0;
	font-size: 18px;
	line-height: 26px;
	padding: 12px 25px;
	margin: 0 10px;
}

.btn_2_sample {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-shadow: none;
        outline: none;        
        font-family: "Montserrat";
}

.btn-2-def_sample {
	color: #ffffff;
	background: -webkit-gradient(linear, left bottom, left top, from(#2F80ED), to(#2F80ED)), #2F80ED;
	background: -webkit-linear-gradient(bottom, #2F80ED, #2F80ED), #2F80ED;
	background: -o-linear-gradient(bottom, #2F80ED, #2F80ED), #2F80ED;
	background: linear-gradient(0deg, #2F80ED, #2F80ED), #2F80ED;
	border-radius: 40px;
	border: 0;
	font-size: 18px;
	line-height: 26px;
	padding: 12px 25px;
	margin: 0 10px;
}

.mode-info-table-title{
    cursor: pointer;
}

.mode-info-table{
    display: none;
    margin-top: 1em;
}
.mode-info-table table{
    background-color: #f6f6f6;
}

.mode-info-table-title span, .mode-info-table-title h4{
    display: inline-block;
}

.checked_symbol {
    color: #00aa00;
    margin-left: 10px;
}

.cross_symbol {
    color: #aa0000;
    margin-left: 10px;
}