body{
	margin-top:0;
	overflow: hidden;
}
#wrapper{
	padding: 0;
    background: url(../images/login-bg.jpg) no-repeat;
   min-height: 100vh;
    background-size: cover;
    padding-top: 100px;
	overflow: hidden;
}

#page-wrapper{
	max-width: 600px;
    margin: 0px auto;
    font-weight: normal;
    font-size:15px;
    color: #999;
    text-align: center;
	font-family: 'Open Sans', sans-serif;
    background: transparent;
}

#login_form_cont{
	max-width: 600px;
	margin: 0 auto;
	padding: 50px;
	background: #f5f5f5;
	border-radius: 0px;

	webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,1);
    -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,1);
    box-shadow: 0 0 40px 0 rgba(0,0,0,1);
}

.login-form-row{
	margin-bottom:20px;
}

.form-control{
	margin-bottom: 10px;
}

.form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}

#login_form_cont h1{
	color:#fff;
	text-align: center;
}

h1{
	font-size: 34px;
    color: #383a40!important;
    margin: 0 0 12px;
    font-weight: lighter;
   padding-bottom: 30px;
}





